body{
  margin: 0;
}

nav ul{
  list-style: none;
}

#header{
  width: 375px;
}

#main{
  margin: 0;
  margin-left: 375px;
}

body{
  font-size: 19pt;
}

.container{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
}

#header ul{
  padding: 0;
}

#title{
  margin: 0;
}

.\33u {
  width: 25%;
  margin-left: 48.5%;
  margin-top: -69px;
}

.\-3u {
  margin: 0;
  width: 25%;
  margin-left: 25%;
}

.\34u {
  width: 33.333333%;
  margin-bottom: 40px;
}

.row p{
  margin: 0;
}

section h2{
  margin: 0;
}

#footer{
  height: 0;
  margin-left: 375px;
}