
/*** Reset Elements ***/
  body, section, ul, li, span, a, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

/*** Fonts & Colors ***/

  body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 19pt;
    line-height: 1.75em;
    color: #888;
  }

  h1, h2, h3 {
    font-family: "Lora", serif;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
  }

  h2 {
    font-size: 2em;
    letter-spacing: -0.03em;
  }

  .intro {
    color: #888;
  }

  h3 {
    font-size: 1.5em;
  }

  strong, b {
    /*font-weight: 300;*/
    color: #666;
  }

  em, i {
    font-style: italic;
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  }

  a:hover {
    color: #E27689;
    border-bottom-color: rgba(255, 255, 255, 0);
  }

/*** Element Boxing and Display ***/

  header {
    margin: 0 0 2em 0;
  }

  p, ul, ol, dl, table {
    margin-bottom: 2em;
  }

  ul.icons li {
    display: inline;
  }

  ul.icons li a {
    display: inline-block;
    width: 2em;
    border: 0;
  }

  table {
    width: 100%;
  }

/*** Images ***/

  .image {
    display: inline-block;
    border: 0;
  }

  .featured {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
  }

/*** Cards / Articles ***/

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    align-self: flex-end;
    margin: 0 20px 30px 0;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
  }

  .card img {
    min-width: 170px;
    max-width: 375px;
  }
  
  .card header {
    background: #fff;
    margin: -0.6em 0 0 0;
    padding: 0.8em 0 0.8em 0;
  }

  .card header h3 {
    font-size: 1em;
  }

/*** Page Layout ***/

  .box {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    width: 100%;
    box-sizing: border-box;
  }

  .page {
    margin-left: 300px;
  }

  .page > section {
    text-align: center;
    margin: 0;
    padding: 3em 0;
    overflow: hidden;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    
  }

  section.one > footer {
    margin-bottom: 1em;
  }

  .page > section.one {
    background-color: #fff;
    padding-top: 0;
  }

  .page > section.two {
    background-color: #f5fafa;
  }

  .page > section.three {
    background-color: #ecf1f1;
  }

  .project {
    width: 80%;
  }

  .project > img {
    width: 40%;
  }

  .games {
    width: 80%;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .link {
    margin: 0 5%;
  }

/*** Navigation Menu ***/

  .menu {
    background: #222629;
    color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  }

  .panel {
    text-align: right;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 100%;
  }

  .menu .top {
    flex-grow: 1;
  }

  .menu .bottom {
    flex-shrink: 0;
    padding: 1.5em 0 0.75em 0;
  }

  .menu .bottom > :last-child {
    margin-bottom: 0;
  }

  .menu .icons {
    font-size: 0.8em;
    text-align: center;
  }

  .menu .icons a {
    color: #41484c;
    transition: color 0.35s ease-in-out;
  }

  .menu .icons a:hover {
    color: #fff;
  }

  .menu h1 {
    color: #fff;
    /*font-weight: 600;*/
    /*font-family: "Lora", serif;*/
    font-size: 1em;
    line-height: 1em;
    position: relative;
  }

  .about {
    min-height: 48px;
    position: relative;
    margin: 1.75em 1.5em 1.5em 1.5em;
  }

  .about p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6em;
    line-height: 1.25em;
    display: block;
    position: relative;
    margin: 0.5em 0 0 0;
  }

  .about .image {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav ul {
    list-style: none;
    margin-bottom: 0;
  }

  .nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 0;
    transition: none;
  }

  .pages ul li a span {
    display: block;
    position: relative;
  }

  .pages ul li a span:before {
    color: #41484c;
    text-align: center;
    line-height: 1.75em;
    position: absolute;
    left: 0;
    width: 1.25em;
  }

  .pages ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  }

  .pages ul li a.active span:before {
    color: #e27689;
  }

  .pages ul li a .nav-item {
    font-size: 0.8em;
  }

  .bar {
    background-color: #2C3236;
    font-size: 0.9em;
    display: none;
    margin: auto 0;
    margin-bottom: 5px;
    height: 56px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }

  .bar h1 {
    font-size: 1.1em;
    margin: auto 0;
  }

  .bar span {
    color: #C8C8C8;
    margin-top: 0.6em;
  }

  .bar a {
    border: 0;
  }

/*** Footer ***/

  .footer {
    background-color: #dce3e2;
    font-size: 0.8em;
    text-align: center;
    margin-left: 300px;
    padding: 3em 0 2em 0;
    max-height: 50px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  }

  .footer .info li {
    line-height: 1em;
    display: inline-block;
    margin: 0 0 0 0.5em;
    padding: 0 0 0 0.5em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
  }

  .footer .info li:first-child {
    border-left: 0;
  }

/*** Media Queries for Responsive Design ***/

  /* extra-large, desktop (fix page width) */
  @media screen and (min-width: 1799px) {
    .box {
      padding: 0;
      width: 1400px;
    }
  }

  /* medium, desktop (default is large) */
  @media screen and (min-width: 992px) and (max-width: 1199px) {}

  /* small, tablet */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
      font-size: 17pt;
    }

    .page {
      margin-left: 20%;
    }

    .box {
      padding: 0 1.25em;
    }

    .panel {
      width: 20%;
    }

    .about .image {
      position: relative;
    }

    .pages .nav-item {
      font-size: 0.75em;
    }

    .footer {
      margin-left: 20%;
    }
  }

  /* extra-small, phone */
  @media screen and (max-width: 767px) {
    html, body {
      overflow-x: hidden;
    }

    body {
      font-size: 15pt;
    }

    ul.icons a {
      font-size: 1.25em;
    }

    .page {
      margin-left: 0;
    }

    .box {
      padding: 0 0.6em;
    }

    .bar {
      display: flex;
    }

    .panel {
      display: none;
      width: 20%;
    }

    .footer {
      margin-left: 0;
    }
  }
