
/*** Reset Elements ***/
  body, section, ul, li, span, a, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
  }

/*** Fonts & Colors ***/

  body {
    color: #888;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 19pt;
    line-height: 1.75em;
  }

  h1, h2, h3 {
    color: #674B8C;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.03em;
  }

  .introText {
    color: #888;
  }

  a {
    text-decoration: none;
    color: #674B8C;
    border-bottom: dotted 1px #674B8C;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  }

  a:hover {
    color: #FA44AA;
    border-bottom-color: rgba(255, 255, 255, 0);
  }

  .intro a {
    font-weight: 600;
  }

/*** Element Boxing and Display ***/

  header {
    margin: 0 0 2em 0;
  }

  p, ul, ol, dl, table {
    margin-bottom: 2em;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  ul.icons li {
    display: inline;
  }

  ul.icons li a {
    display: inline-block;
    width: 2em;
    border: 0;
  }

  table {
    width: 100%;
  }

/*** Images ***/

  .image {
    display: inline-block;
    border: 0;
  }

  .featured {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
  }

  .profile {
    display: inline-block;
    width: 20%;
    min-width: 100px;
    margin-left: 2em;
    margin-top: -7em;
    margin-right: 0.5em;
    border: solid 3px #674B8C;
    border-radius: 50%;
    box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.25);
  }

  .intro {
    display: inline-block;
  }

  .projectImage {
    width: 100%;
    max-width: 600px;
  }

/*** Cards / Articles ***/

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    align-self: flex-end;
    margin: 0 20px 30px 0;
    border: solid 1px #674B8C;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
    transition: border 0.35s ease-in-out;
  }

  .card:hover {
    border: solid 1px #FA44AA;
  }

  .card img {
    width: 375px;
    min-width: 170px;
    max-width: 600px;
  }
  
  .card header {
    background: #FFF;
    margin: -0.6em 0 0 0;
    padding: 0.8em 0 0.8em 0.8em;
    font-size: 0.9em;
  }

/*** Page Layout ***/

  .box {
    padding: 0 2em;
    width: 100%;
    box-sizing: border-box;
  }

  .page {
    margin-left: 250px;
  }

  .page > section {
    margin: 0;
    padding: 3em 0;
    overflow: hidden;
    box-shadow: inset 0 1px 0 0 rgba(103, 75, 140, 0.25), inset 0 0.1em 0.1em 0 rgba(103, 75, 140, 0.1);
  }

  section.one > footer {
    margin-bottom: 1em;
  }

  .page > section.one {
    padding-top: 0;
  }

  .page > section {
    background-color: #F5F9FA;
  }

  .goal {
    max-width: 900px;
  }

  .project {
    max-width: 800px;
  }

  .project .links {
    padding-bottom: 2em;
    padding-right: 10%;
  }

  .projectLink {
    width: 40%;
    text-align: right;
    line-height: 1.3em;
  }

  .games {
    max-width: 800px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    margin: 0 5%;
  }

/*** Navigation Menu ***/

  .menu {
    background: #222629;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  }

  .panel {
    text-align: right;
    flex-direction: column;
    position: fixed;
    width: 250px;
    height: 100%;
  }

  .menu .top {
    flex-grow: 1;
  }

  .menu .bottom {
    padding: 1.5em 0 0.75em 0;
  }

  .menu .bottom > :last-child {
    margin-bottom: 0;
  }

  .menu .icons {
    font-size: 0.8em;
    text-align: center;
  }

  .menu .icons a {
    color: #5B5A67;
    transition: color 0.35s ease-in-out;
  }

  .menu .icons a:hover {
    color: #FA44AA;
  }

  .menu h1 {
    color: #FFF;
    font-size: 1em;
    line-height: 1em;
    position: relative;
  }

  .about {
    margin: 1.75em 1.5em 1.5em 1.5em;
  }

  .about p {
    color: #888;
    font-size: 0.6em;
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
  }

  .nav ul {
    list-style: none;
    margin-bottom: 0;
  }

  .nav ul li a {
    color: #888;
    text-decoration: none;
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 0;
    transition: none;
  }

  .pages ul li a span {
    display: block;
    position: relative;
  }

  .pages ul li a span:before {
    color: #5B5A67;
    text-align: center;
    line-height: 1.75em;
    position: absolute;
    right: 0;
    width: 1.25em;
  }

  .pages ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    color: #FFF;
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  }

  .pages ul li a.active span:before {
    color: #FA44AA;
  }

  .pages .nav-item {
    font-size: 0.8em;
    padding-right: 2.5em;
  }

  .bar {
    background-color: #2C3236;
    font-size: 0.9em;
    display: none;
    margin: auto 0;
    margin-bottom: 5px;
    height: 56px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }

  .bar h1{
    font-size: 1.1em;
    margin: auto 0;
  }

  .bar span {
    color: #C3C3C3;
    margin-top: 0.6em;
  }

  .bar a {
    border: 0;
    color: #FFF;
  }

/*** Footer ***/

  .footer {
    background-color: #C3C3C3;
    font-size: 0.8em;
    text-align: center;
    margin-left: 250px;
    padding: 3em 0 2em 0;
    max-height: 50px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  }

  .footer .info li {
    color: #674B8C;
    line-height: 1em;
    display: inline-block;
    margin: 0 0 0 0.5em;
    padding: 0 0 0 0.5em;
    border-left: solid 1px rgba(128, 128, 128, 0.35);
  }

  .footer .info li:first-child {
    border-left: 0;
  }

/*** Media Queries for Responsive Design ***/

  /* extra-large, desktop (fix page width) */
  @media screen and (min-width: 1799px) {
    .box {
      width: 1400px;
    }

    .card img {
      width: 400px;
    }

    .project .links {
      padding-right: 10%;
    }
  }

  /* medium, desktop (default is large) */
  @media screen and (min-width: 992px) and (max-width: 1199px) {}

  /* small, tablet */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
      font-size: 17pt;
    }

    .page {
      margin-left: 20%;
    }

    .box {
      padding: 0 1.25em;
    }

    .profile {
      margin-left: 1.5em;
    }

    .card img {
      width: 100%;
    }

    .card header {
      font-size: 1.1em;
    }

    .project .links {
      padding-right: 15%;
    }

    .panel {
      width: 20%;
    }

    .pages .nav-item {
      font-size: 0.75em;
    }

    .footer {
      margin-left: 20%;
    }
  }

  /* extra-small, phone */
  @media screen and (max-width: 767px) {
    html, body {
      overflow-x: hidden;
    }

    body {
      font-size: 15pt;
    }

    ul.icons a {
      font-size: 1.25em;
    }

    .page {
      margin-left: 0;
    }

    .box {
      padding: 0 1.5em;
    }

    .profile {
      margin-left: 1em;
    }

    .card img {
      width: 100%;
      margin-right: 0;
    }

    .card header {
      font-size: 1.1em;
    }

    .project .links {
      padding-right: 0;
    }

    .bar {
      display: flex;
    }

    .panel {
      display: none;
      width: 20%;
    }

    .footer {
      margin-left: 0;
    }
  }
