/*************
  Dropbox Theme (by thezoggy)
  heavily modifed by Sean
 *************/
/* overall */
.tablesorter {
  background-color: #F5F9FA;
  color: #666;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
/* header */
.tablesorter th,
.tablesorter thead td,
.tablesorter tfoot th,
.tablesorter tfoot td {
  color: #674B8C;
  font-family: "Lora", serif;
  border: 1px solid #888888;
  border-top: 0;
  padding: 3px 16px 3px 6px;
}
.tablesorter .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter .tablesorter-header {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1em 0.25em;
  cursor: pointer;
}
.tablesorter thead .sorter-false {
  cursor: default;
}
/* tbody */
.tablesorter td {
  padding: 5px 6px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
/* hovered row colors */
.tablesorter tbody > tr:hover > td,
.tablesorter tbody > tr.even:hover > td,
.tablesorter tbody > tr.odd:hover > td {
  background-color: rgba(250, 68, 170, 0.15);
  border-right: 0;
  border-left: 0;
  border-color: #FA44AA;
  /* trick to do border-top and bottom colors */
  border-style: double;
}

.game-link {
  text-align: right;
}
