<!-- Main -->
<div id="main">
<section class="two">

  <div class="container">
    
    <header>
      <h2 class="alt">Board Game Collection</h2>
    </header>
    
    <div class="row"></div>
    
    <div class="row" style="text-align: justify;">
      <div class="2u"></div>
      <div class="8u">
        <%- partial("games.md") %>
      </div>
      <div class="2u"></div>
      <script src="/vendor/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
      <link rel="stylesheet" href="/css/table.css" />
      <script>
        $("table").addClass("tablesorter");
        $(document).ready(function(){
          $(".tablesorter").tablesorter({sortList: [[1,0]]});
        });
        $(".tablesorter a").addClass("fa fa-globe solo").attr("style", "font-size: 90%;").attr("target", "_blank");
      </script>
    </div>
  
  </div>

</section>
</div>
