<ul class="icons">
  <li><a href="https://linkedin.com/in/{{ site.username }}/">
    <span title="LinkedIn Profile" class="fa fa-linkedin fa-lg"></span>
  </a></li>

  <li><a href="https://github.com/{{ site.username }}">
    <span title="GitHub Profile" class="fa fa-github fa-lg"></span>
  </a></li>

  <li><a href="https://twitter.com/mckennapsean">
    <span title="Twitter Profile" class="fa fa-twitter fa-lg"></span>
  </a></li>

  <li><a href="mailto:{{ site.email }}">
    <span title="Sean's Email" class="fa fa-envelope fa-lg"></span>
  </a></li>
</ul>
