<!-- Social Media Icons -->
<ul class="icons">
  <li><a href="http://www.linkedin.com/in/{{ site.username }}/" class="fa fa-linkedin solo">
    <span>LinkedIn Profile</span>
  </a></li>
  <li><a href="https://github.com/{{ site.username }}" class="fa fa-github solo">
    <span>GitHub Profile</span>
  </a></li>
  <li><a href="https://plus.google.com/collection/IP5vbB" class="fa fa-camera solo">
    <span>Photos Collection</span>
  </a></li>
  <li><a href="mailto:{{ site.email }}" class="fa fa-envelope solo">
    <span>Sean's Email</span>
  </a></li>
</ul>
