<ul class="icons">
  <li><a href="https://linkedin.com/in/{{ site.username }}/">
    <span title="LinkedIn Profile" class="fa fa-linkedin fa-lg"></span>
  </a></li>
  
  <li><a href="https://github.com/{{ site.username }}">
    <span title="GitHub Profile" class="fa fa-github fa-lg"></span>
  </a></li>

  <li><a href="https://plus.google.com/collection/IP5vbB">
    <span title="Photos Collection" class="fa fa-camera fa-lg"></span>
  </a></li>

  <li><a href="mailto:{{ site.email }}">
    <span title="Sean's Email" class="fa fa-envelope fa-lg"></span>
  </a></li>
</ul>
