<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script src="/vendor/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/skeljs/dist/skel.min.js"></script>
    <script src="/vendor/skeljs/dist/skel-panels.min.js"></script>
    <script src="/js/init.js"></script>
    <% if (current.path == 'index') { %>
      <script src="/js/scrolly.js"></script>
    <% } %>
    <noscript>
      <link rel="stylesheet" href="/vendor/skeljs/dist/skel-noscript.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/style-wide.css" />
    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
  </head>
  <body>
    
    <!-- Header/Menu -->
    <%- partial("_shared/menu") %>
    
    <!-- Content -->
    <%- yield %>
    
    <!-- Footer -->
    <%- partial("_shared/footer") %>
  </body>
</html>
