<!-- Main -->
<div id="main">

  <!-- Intro -->
  <%- partial("_shared/intro") %>
    
  <!-- Portfolio -->
  <%- partial("_shared/portfolio") %>
  
  <!-- About Me -->
  <%- partial("_shared/about") %>

  <!-- Contact -->
  <%- partial("_shared/contact") %>
  
</div>
