<div id="footer">
  <!-- Copyright -->
  <div class="copyright">
    <p>&copy; 2014 Sean McKenna. All rights reserved.</p>
    <p>Credit to <a href="http://html5up.net">HTML5 UP</a> for the design.</p>
  </div>
</div>
