<!-- Header -->
<div id="header" class="skel-panels-fixed">
  
  <div class="top">
   
    <!-- Logo -->
    <div id="logo">
      <span class="image gravatar">
        <img src="http://www.gravatar.com/avatar/f029704e495cdad146ef1e046c428d3b.png" alt="Gravatar profile image" />
      </span>
      <h1 id="title">Sean McKenna</h1>
      <span class="byline">Ph.D. Candidate</span>
    </div>
   
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="/" id="home-link" class="skel-panels-ignoreHref">
          <span class="icon icon-home">Home</span>
        </a></li>
        <li><a href="/#about" id="about-link" class="skel-panels-ignoreHref">
          <span class="icon icon-user">About</span>
        </a></li>
        <li><a href="/#projects" id="projects-link" class="skel-panels-ignoreHref">
          <span class="icon icon-folder">Projects</span>
        </a></li>
        <li><a href="/#code" id="code-link" class="skel-panels-ignoreHref">
          <span class="icon icon-code">Code</span>
        </a></li>
        <!--
        <li><a href="/#blog" id="blog-link" class="skel-panels-ignoreHref">
          <span class="icon icon-blog">Blog</span>
        </a></li>
        <li><a href="/#photos" id="photos-link" class="skel-panels-ignoreHref">
          <span class="icon icon-photos">Photos</span>
        </a></li>
        -->
      </ul>
    </nav>
  
  </div>
  
  <div class="bottom">
   
    <!-- Social Icons -->
    <ul class="icons">
      <li><a href="mailto:mckennapsean@gmail.com" class="icon icon-envelope">
        <span>Email</span>
      </a></li>
      <li><a href="https://plus.google.com/+SeanMcKennaP/" class="icon icon-google-plus">
        <span>Google+</span>
      </a></li>
      <li><a href="https://github.com/mckennapsean" class="icon icon-github">
        <span>GitHub</span>
      </a></li>
      <li><a href="http://www.linkedin.com/in/mckennapsean/" class="icon icon-linkedin">
        <span>LinkedIn</span>
      </a></li>
    </ul>
  
  </div>
</div>
