<!-- Main -->
<div id="main">
<section class="two">

  <div class="container">
    
    <!-- Project -->
<%  var name = current.path[1];
    var project = public._data.projects[name]; %>
    
    <header>
      <h2 class="alt"><%= project.tag %></h2>
      by <%= project.authors %>
    </header>
    
    <img class="image" style="width:40%;" src="image.png" alt="<%= project.imageAlt %>" />
    <div class="row"></div>
    
    <div class="row" style="text-align: justify;">
      <div class="2u"></div>
      <div class="8u">
        <%- partial("../projects/" + name + "/index.md") %>
      </div>
      <div class="2u"></div>
    </div>
  
  </div>

</section>
</div>
