<!-- Social Icons -->
<ul class="icons">
  <li><a href="http://www.linkedin.com/in/mckennapsean/" class="fa fa-linkedin solo">
    <span>LinkedIn</span>
  </a></li>
  <li><a href="https://github.com/mckennapsean" class="fa fa-github solo">
    <span>GitHub</span>
  </a></li>
  <li><a href="https://plus.google.com/+SeanMcKennaP/" class="fa fa-google-plus solo">
    <span>Google+</span>
  </a></li>
  <li><a href="mailto:<%= email %>" class="fa fa-envelope solo">
    <span>Email</span>
  </a></li>
</ul>
