---
layout: site
---

<!-- Main -->
<div id="main">
<section class="two">

  <div class="container">
    
    <!-- Project -->
    
    <header>
      <h2 class="alt">{{ page.tag }}</h2>
      by {{ page.authors }}
    </header>
    
    <img class="image" style="width:40%;" src="{{ page.image }}" alt="{{ page.imageAlt }}" />
    <div class="row"></div>
    
    <div class="row" style="text-align: justify;">
      <div class="2u"></div>
      <div class="8u">
        {{ content }}
      </div>
      <div class="2u"></div>
    </div>
  
  </div>

</section>
</div>
