<!-- Social Icons -->
<ul class="icons">
  <li><a href="http://www.linkedin.com/in/mckennapsean/" class="fa fa-linkedin solo">
    <span>LinkedIn</span>
  </a></li>
  <li><a href="https://github.com/mckennapsean" class="fa fa-github solo">
    <span>GitHub</span>
  </a></li>
  <li><a href="https://www.flickr.com/photos/124524269@N02/sets" class="fa fa-camera solo">
    <span>Flickr</span>
  </a></li>
  <li><a href="mailto:<%= email %>" class="fa fa-envelope solo">
    <span>Email</span>
  </a></li>
</ul>
